:root {
  --primary-color: #be9555;
  --text-bold-color: #020407;
}

ol li {
  list-style: decimal;
}

ul li {
  list-style: disc;
}


.sub-menu {
  display: none;
}

.menu-item {
  list-style: none;
  margin-left: 10px;
  color: var(--text-bold-color);
  font-weight: 600;
  font-size: 22px;
  margin-left: 45px;
  border-bottom: 2px solid transparent;
}

.menu-item:first-child {
  margin-left: 0;
}

.menu-item:hover,
.current-menu-item,
.current-menu-ancestor {
  color: var(--primary-color);
  border-color: 2px var(--primary-color);
  transition: all 0.1s;
}

/* Override Swiper */
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 1px solid #6c6e76;
  border-radius: 50%;
  margin-right: 25px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 25px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: #25262a;
  background-color: #25262a;
}

.faculty_content h4 {
  font-family: 'poppins-bold';
}

.faculty_content ul {
  padding-left: 2em;
  font-family: 'poppins';
}

@media (max-width: 1100px) {
  .card_wrapper {
    flex-wrap: wrap !important;
  }
  .card_column {
    flex: 100% 1 1 !important;
  }
}

.justify-end {
  justify-content: end;
}

.card_column {
  flex: 1;
  min-width: 300px;
}

.border_top_bottom {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.custom_table thead {
  border-bottom: 1.5px solid #000;
}

.custom_table th {
  font-family: 'poppins-semibold';
}

.custom_table tr {
  background-color: transparent !important;
  border-bottom: 1.5px solid #000;
  font-family: 'poppins';
}

.custom_table td,
.custom_table th {
  padding: 10px 0;
}
